{% extends 'base.html.twig' %}
{% block hero %}
<div class="container">
    <div class="hero-content">
        {#<img class="img-me" src="{{ asset('img/me.jpg') }}" alt="Etienne Moussé">#}
        <div class="hero-resume">
            <p class="ft-ratiomodern">hello, i'm etienne moussé</p>
            <p>Web Alchemist</p>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}
    {% for article in pagination %}
        <div class="bgcover" style="background:url('{{ vich_uploader_asset(article, 'imageFile') }}');border-radius: 4px;">
            <div class="d-flex align-items-start  flex-column bd-highlight mb-3 bsc" style="height: 270px;background: rgba(23, 25, 24, 0.42)!important">

                <div class="mb-auto mt-auto"></div>

                <a href="{{ path('app_emousseblog_singlearticle', { 'slug' : article.slug }) }}" class="archive-entry-title p-2 text-light mt-auto"><h2>{{ article.title }}</h2></a>


                <div class="p-2 archive-entry-excerpt"><p>{{ article.metaDescription }}</p>
                </div>
                <div class="p-2">
                    <span class="tag">
                        {% for tag in article.tags %}
                            <a href="{{ path('app_emousseblog_singletag', { 'name' : tag.name }) }}" class="badge badge-light">{{ tag.name | lower }}</a>
                        {% endfor %}
                    </span>
                </div>

                <div class="p-2 ml-auto mb-auto text-light">
                    <small>{{ article.createdAt | date("d/m/Y") }}</small>
                    <a class="btn-readmore" href="{{ path('app_emousseblog_singlearticle', { 'slug' : article.slug }) }}">Lire Plus</a>
                </div>

            </div>
        </div>
    {% endfor %}

    {{ knp_pagination_render(pagination) }}
{% endblock %}